
@import './var.mod.scss';

@import './reset.scss';
@import './icon.css';
@import './status.scss';
@import './markdown.scss';
@import './media.scss';



html {
	-webkit-text-size-adjust: none;
}
body {
	height: 100%;
	width: 100%;
	font-size: 14px;
	color: #333;
	background-color: $bgcolor;
	overflow-x: hidden;
	// font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', 'sans-serif';
}

.wait{
	$d: 40px;
	width: $d !important;
	height: $d !important;
	line-height: $d + 2;
	left: 50%;
	top: $headerHeight + 40;
	margin-left: -$d/2;
	margin-top: -$d/2;
	font-size: $d;
	text-align: center;
	color: #42b983;
	position: fixed;
	z-index: -1;
	animation: 1s rotate linear infinite;
}
@keyframes rotate{
	0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}


.fit:after{
	content: '.';
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}


.omit{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

hr{
	border-bottom: 1px solid #eee;
	margin: 10px;
	height: 0;
}


.dialog{
	$w: 280px;
	width: $w;
	left: 50%;
	// top: 30%;
	margin-left: -$w/2;
	margin-top: $headerHeight;
	
	position: fixed;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 5px 15px #555;
	text-align: center;
}



.subtitle {
	width: 150px;
	line-height: 1.8;
	margin: 0 auto;
	padding: 10px !important;
	
	border-bottom: 2px solid $stdColor;

	text-align: center;
	// background: #f0f0f0;
	position: relative;
	// border-radius: 10px;
	strong {
		color: $stdColor;
	}
}









